/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

html {
	background: #111;
	font-family: sans-serif;
	overflow: hidden;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
    box-sizing: border-box;
    padding: 4px;
}

@-webkit-keyframes error-animation {
    0% {
        //background: linear-gradient(#c00, #a00);
    }
    50% {
        //background: linear-gradient(#f00, #c00);
        -webkit-filter: brightness(140%);
    }
    100% {
        //background: linear-gradient(#c00, #a00);
    }
}

.site {
	background: linear-gradient(#cf0, #8a0);
	@include box-sizing(border-box);
	@include box-shadow(0px 0px 100px #4a4 inset);
//	width: 20%;
//	height: 20%;
//	float: left;
//	padding: 20px 0;
    width: 50%;
    height: 150px;
    padding: 10px;
    float: left;
	position: relative;
    outline: 4px solid #000;
	.url {
		// text-align: center;
		font-size: 24px;
		color: #fff;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
	}
	.code, .time {
		position: absolute;
	}
	.code {
		right: 10px;
        top: 5px;
		font-size: 40px;
		font-weight: bold;
		color: #080;
		opacity: .1;

	}
	.time {
		right: 10px;
		bottom: 10px;
		font-size: 12px;
		opacity: .5;
	}
    .message {
        // padding: 20px;
        // text-align: center;
        position: absolute;
        left: 10px;
        bottom: 10px;
        color: #fff;
        opacity: .5;
        font-size: 12px;
    }
    .fa {
        position: absolute;
        bottom: 30px;
        right: 12px;
        color: #fff;
        opacity: .3;
        font-size: 50px;
    }
	&.warning {
		background: linear-gradient(#fc0, #a80);
		@include box-shadow(0px 0px 100px #880 inset);
		.time {
			color: #fff;
			opacity: 1;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
		}
		.code {
			color: #660;
		}
        .fa {
            opacity: 1;
        }
	}
	&.error {
		background: linear-gradient(#c00, #a00);
        @include animation(error-animation 1s infinite);
		@include box-shadow(0px 0px 100px #400 inset);
		.time {
			color: #fff;
			opacity: 1;
		}
		.code {
			color: #fff;
			text-shadow: 0px 0px 40px #f00;
			opacity: 1;
		}
        .message {
            opacity: 1;
        }
        .fa {
            opacity: 1;
            color: #ff0;
        }
	}
    /*
	&.count50 {
		width: 10%;
		.url {
			font-size: 16px;
		}
		.code {
			font-size: 75px;
		}
	}
	&.count100 {
		height: 10%;
	}
	&.count200 {
		width: 5%;
		.url {
			font-size: 12px;
		}
		.code {
			font-size: 40px;
			bottom: 50px;
			width: 100%;
			text-align: center;
			left: 0;
		}
		.time {
			right: 0;
			width: 100%;
			text-align: center;
		}
	}
	&.count400 {
		height: 5%;
		.code {
			left: 10px;
			bottom: 10px;
			font-size: 12px;
			text-align: left;
			width: auto;
		}
		.time {
			right: 10px;
			bottom: 10px;
			text-align: right;
			width: auto;
		}
	}
	*/
}

#happy {
	position: absolute;
	z-index: 10;
	width: 100%;
	text-align: center;
	padding-top: 10%;
	@include box-sizing(border-box);
	color: #fff;
	font-size: 1000px;
	text-shadow: 0px 0px 100px #080;
	height: 100%;
	background: rgba(128, 255, 0, .1);
}

#error {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	@include box-shadow(0 0 100px #f00 inset, 0 0 200px #f00 inset);
}