/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

html { background: #111; font-family: sans-serif; overflow: hidden; }

html, body { width: 100%; height: 100%; }

.site { background: linear-gradient(#ccff00, #88aa00); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: 0px 0px 100px #44aa44 inset; -moz-box-shadow: 0px 0px 100px #44aa44 inset; box-shadow: 0px 0px 100px #44aa44 inset; width: 20%; height: 20%; float: left; padding: 20px 0; position: relative; }
.site .url { text-align: center; font-size: 24px; color: #fff; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }
.site .code, .site .time { position: absolute; }
.site .code { left: 20px; font-size: 150px; font-weight: bold; color: #080; opacity: .1; bottom: 0; }
.site .time { right: 20px; bottom: 20px; font-size: 12px; opacity: .5; }
.site.slow { background: linear-gradient(#ffcc00, #aa8800); -webkit-box-shadow: 0px 0px 100px #888800 inset; -moz-box-shadow: 0px 0px 100px #888800 inset; box-shadow: 0px 0px 100px #888800 inset; }
.site.slow .time { color: #a00; opacity: 1; font-size: 16px; }
.site.slow .code { color: #660; }
.site.error { background: linear-gradient(#cc0000, #aa0000); -webkit-box-shadow: 0px 0px 100px #440000 inset; -moz-box-shadow: 0px 0px 100px #440000 inset; box-shadow: 0px 0px 100px #440000 inset; }
.site.error .time { color: #fff; opacity: 1; }
.site.error .code { color: #fff; text-shadow: 0px 0px 40px #f00; opacity: 1; }
.site.count50 { width: 10%; }
.site.count50 .url { font-size: 16px; }
.site.count50 .code { font-size: 75px; }
.site.count100 { height: 10%; }
.site.count200 { width: 5%; }
.site.count200 .url { font-size: 12px; }
.site.count200 .code { font-size: 40px; bottom: 50px; width: 100%; text-align: center; left: 0; }
.site.count200 .time { right: 0; width: 100%; text-align: center; }
.site.count400 { height: 5%; }
.site.count400 .code { left: 10px; bottom: 10px; font-size: 12px; text-align: left; width: auto; }
.site.count400 .time { right: 10px; bottom: 10px; text-align: right; width: auto; }

#happy { position: absolute; z-index: 10; width: 100%; text-align: center; padding-top: 10%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #fff; font-size: 1000px; text-shadow: 0px 0px 100px #080; height: 100%; background: rgba(128, 255, 0, 0.1); }

#error { position: absolute; z-index: 10; width: 100%; height: 100%; -webkit-box-shadow: 0 0 100px red inset, 0 0 200px red inset; -moz-box-shadow: 0 0 100px red inset, 0 0 200px red inset; box-shadow: 0 0 100px red inset, 0 0 200px red inset; }
