/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

html { background: #111; font-family: sans-serif; overflow: hidden; }

html, body { width: 100%; height: 100%; }

.site { background: linear-gradient(#ccff00, #88aa00); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-box-shadow: 0px 0px 100px #44aa44 inset; -webkit-box-shadow: 0px 0px 100px #44aa44 inset; box-shadow: 0px 0px 100px #44aa44 inset; width: 50%; height: 65px; padding: 10px; float: left; position: relative; outline: 3px solid #000;     /*
	&.count50 {
		width: 10%;
		.url {
			font-size: 16px;
		}
		.code {
			font-size: 75px;
		}
	}
	&.count100 {
		height: 10%;
	}
	&.count200 {
		width: 5%;
		.url {
			font-size: 12px;
		}
		.code {
			font-size: 40px;
			bottom: 50px;
			width: 100%;
			text-align: center;
			left: 0;
		}
		.time {
			right: 0;
			width: 100%;
			text-align: center;
		}
	}
	&.count400 {
		height: 5%;
		.code {
			left: 10px;
			bottom: 10px;
			font-size: 12px;
			text-align: left;
			width: auto;
		}
		.time {
			right: 10px;
			bottom: 10px;
			text-align: right;
			width: auto;
		}
	}
	*/ }
.site .url { font-size: 24px; color: #fff; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }
.site .code, .site .time { position: absolute; }
.site .code { right: 10px; top: 5px; font-size: 40px; font-weight: bold; color: #080; opacity: .1; }
.site .time { right: 10px; bottom: 10px; font-size: 12px; opacity: .5; }
.site .message { position: absolute; left: 10px; bottom: 10px; color: #fff; opacity: .5; font-size: 12px; }
.site.warning { background: linear-gradient(#ffcc00, #aa8800); -moz-box-shadow: 0px 0px 100px #888800 inset; -webkit-box-shadow: 0px 0px 100px #888800 inset; box-shadow: 0px 0px 100px #888800 inset; }
.site.warning .time { color: #fff; opacity: 1; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
.site.warning .code { color: #660; }
.site.error { background: linear-gradient(#cc0000, #aa0000); -moz-box-shadow: 0px 0px 100px #440000 inset; -webkit-box-shadow: 0px 0px 100px #440000 inset; box-shadow: 0px 0px 100px #440000 inset; }
.site.error .time { color: #fff; opacity: 1; }
.site.error .code { color: #fff; text-shadow: 0px 0px 40px #f00; opacity: 1; }
.site.error .message { opacity: 1; }

#happy { position: absolute; z-index: 10; width: 100%; text-align: center; padding-top: 10%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; color: #fff; font-size: 1000px; text-shadow: 0px 0px 100px #080; height: 100%; background: rgba(128, 255, 0, 0.1); }

#error { position: absolute; z-index: 10; width: 100%; height: 100%; -moz-box-shadow: 0 0 100px red inset, 0 0 200px red inset; -webkit-box-shadow: 0 0 100px red inset, 0 0 200px red inset; box-shadow: 0 0 100px red inset, 0 0 200px red inset; }
